h1{
    color: rgb(230, 110, 190);
    text-align: center;
}

h2{
    color: #636363;
    margin-left: 10px;
    font-family: sans-serif;
}

table th, tr{
    margin: 10px;
}

th{
    margin-top: 15px;
}

tr{
    margin-top: 15px;
}

header{
    width: auto;
    height: 55px;
    background-color: rgb(250, 209, 236);
    padding-top: 13px;
}

nav {
    background-color: #ffccff; /* ナビゲーションバーの背景色 */
}

nav a {
    color: #ff0066; /* ナビゲーションリンクのテキスト色 */
    text-decoration: none; /* ナビゲーションリンクの下線を削除 */
    transition: color 0.3s; /* ナビゲーションリンクのテキスト色が変わるアニメーション */
    font-family: 'Nunito', cursive; /* 可愛らしいフォントを指定 */
    font-size: 15px;
}


nav a:hover {
    color: #f5a8ce; /* ナビゲーションリンクのホバー時のテキスト色 */
}


.login_name_box{
    display: flex;
    justify-content: center;
    align-items: end;
}

.login_name_box div{
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #ecb0e0, #ecb0e0) 0.8;
    padding-bottom: 5px; /* 下線とテキストの間のスペース */
    font-size: 24px; /* タイトルのフォントサイズ */
}

.login_name{
    font-size: 25px;
    color:rgb(27, 27, 27);
    text-align: end;
}

.neko_center{
    display: flex;
    justify-content: center;
}

nav{
    padding-top: 15px;
    text-align: center;
}

body{
    margin: 0;
}

main{
    padding: 20px;
}

p{
    text-align: center;
}

.bottom_0{
    margin-bottom: 0;
}

.center{
    display: flex;
    justify-content: center;
}

.end{
    display: flex;
    justify-content: end;
}

.center_2{
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: start;
    padding-left: 0;
}


.flex_column{
    display: flex;
    flex-direction: column;
}

.back_img{
    background-image: url('../img/line1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*ここからindexゾーン*/
.mind_ch_title{
    color: #000000;
}


.login_btn{
    display: flex;
    justify-content: center;
}

.login_botton{
    margin-top: 30px;
    font-size: 16px;
    height: 44px;
    font-weight: bold;
}


#genre_title{
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 10px;
    color: color#919191;
}


.all_genre{
    display: flex;
    justify-content: center;
}

.all_genre a{
    margin-right: 10px;
}

.post_info{
    margin-bottom: 40px;
}

.post_info h2{
    max-width: 610px;
}

#post_info_box{
    width: auto;
    display: flex;
    justify-content: center;
}

.comment_add{
    margin-top: 40px;
    margin-bottom: 20px;
}

.comment_info{
    margin-top: 20px;
}

.edit_form{
    margin-left: 0px;
}

.edit_form p{
    text-align: start;
}

.create_post th{
    min-width: 80px;
    text-align: start;
}


.memos_list {
    list-style-type: none; /* リストのマーカーをなくす */
    padding: 0; /* パディングをなくす */
    text-align: center; /* テキストを中央に寄せる */
}

/* リスト項目のスタイル */
.memos_item {
    margin-bottom: 20px; /* 下の余白を設定 */
    text-align: center;
}

/* リンクのスタイル */
.memo_link {
    color: #4e4e4e; /* リンクの色を設定 */
    text-align: center;
}

.memo_create_link{
    margin-left: 30%;
    margin-top: 30px;
    text-decoration: none; /* 下線をなくす */
    color: #0054ad; /* リンクの色を設定 */
    text-align: center;
}

.memo_content{
    padding-top: 15px;
    padding-bottom: 40px;
}

#memo_del{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    height: 22px;
    width: 100px;
}

.create_time{
    margin-right: 10px;
    display: flex;
    justify-content: end;
    color: #6b6b6b;
    font-size: 12px;

}


ホバー時のスタイル */
.memo_link:hover {
    text-decoration: underline; /* 下線を表示 */
}


.submitbtn{
    width: 150px;
    height: 40px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e984bf;
    color: #fff;
    padding: 10px 30px;
    font-size: 13px;
    font-family: sans-serif;
}

.submitbtn:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 6px;
    height: 6px;
    margin: -4px 0 0 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.post_list{
    margin: 20px;
    padding: 20px;
    background-color: #ffddf1;
    border-radius: 50%;
    text-decoration: none !important;
}

.post_list a{
    text-decoration: none;
    color: #2b2b2b;
}

.post_list_title{
    display: flex;
    align-items: center;
}

.post_list_title li{
    margin-right: 30px;
}

#post_content{
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 5px;
    background-color: #f8f8f8;
}

.sans-serif{
    font-family: sans-serif;
}

.good_box{
    display: flex;
    width: 25px;
    height: 25px;
}

.good_hart{
    width: 25px;
    height: 25px;
    font-size: 29px;
    color: rgb(255, 108, 108);
}

.red{
    color: #ff5757;
}

#red{
    color: #ff5757;
}

.good_count{
    font-size: 22px;
}

.edit_form div{
    margin-top: 20px;
}

.btn_center{
    display: flex;
    justify-content: center;
}

table{
    display: flex;
    justify-content: center;
    border-spacing: 0px 20px;
}

#sakusei{
    font-size: 16px;
}

.form_table{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.form_table th{
    margin: 0;
    width: 130px;
    min-width: 90px;
    text-align: start;
    font-family: sans-serif;
    color: #3b3b3b;
}

.all_genre{
    display: flex;
    font-size: 14px;
}

.all_genre div{
    width: auto;
}

.content_item{
    width: 50%;
    min-width: 320px;
}