{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<header>
    <nav>
        <a href="{% url 'index' %}">ホーム</a>
        <!-- <a href="{% url 'admin:index' %}">管理画面</a> -->
    {% if user.is_authenticated %}<!--ログイン中-->
        <a href="{% url 'profile' %}">プロフィール</a>
        <a href="{% url 'create_post' %}">投稿する</a>
        <a href="{% url 'user_logout' %}">ログアウト</a>
    {% else %}<!--ログアウト状態-->
        <a href="{% url 'register' %}">新規登録</a>
        <a href="{% url 'login' %}">ログイン</a>
    {% endif %}
    </nav>
</header>
<body>
    {% block content %}
    {% endblock %}
</body>
<footer>
    
</footer>
</html>

