{% extends "base.html" %}
{% block content %}

<h1>投稿内容</h1>
<!-- post -->
<div class="post_info">
    <div><h2>タイトル</h2> {{ post_info.post_title }}</div>
    <div id="post_content">{{ post_info.post_content }}</div>
    <div>
    <form action="{% url 'good_toggle' post_info.id %}" method="post">
    {% if user.is_authenticated %}
        {% csrf_token %}
        <button class="submitbtn" type="submit">いいね☆</button>
    {% endif %}
    <span class="red">♥</span>{{ good_count }}
    </form>

    <form method="post" action="{% url 'post_info_detail' post_info.id %}">
        {% csrf_token %}
        <div class="comment_add">{{ form.comment }}</div>
        <div><button class="submitbtn" type="submit">コメントする</button></div>
    </form>
    <h3>みんなのコメント</h3>
    {% for comment in comments %}
        
        <div class="comment_info">{{ comment.comment }}</div>

    {% endfor %}
    </div>
    <!-- その他のフィールドを表示 -->
</div>

{% endblock %}

