{% extends "base.html" %}
{% block content %}
<main id="post_info_box">
    <!-- post -->
    <div class="post_info">
        <h1>投稿内容</h1>
        <div><h2>{{ post_info.post_title }}</h2>
        <div id="post_content">{{ post_info.post_content }}</div>
        <div class="flex_column">
            {% if user.is_authenticated %}
            <form action="{% url 'good_toggle' post_info.id %}" method="post" class="end" style="max-width: 580px;">
                {% csrf_token %}
                <div class="good_box" style="max-width: 580px;">
                    <button class="good_hart" type="submit">
                        <div style="margin-bottom:7px; margin-right: 10px; font-size: 20px;">♥</div>
                    </button>
                    <div style="margin-left: 10px; font-size: 20px;" >{{ good_count }}</div>
                </div>
            </form>
            {% else %}
            <div class="good_box" style="max-width: 580px;">
                <div  class="red" style="margin-bottom:7px; margin-right: 10px; font-size: 20px;">♥</div>
                <div>{{ good_count }}</div>
            </div>
            {% endif %}
            <form method="post" action="{% url 'post_info_detail' post_info.id %}">
                {% csrf_token %}
                <div class="comment_add center">{{ form.comment }}</div>
                <div class="center"><button class="submitbtn" type="submit">コメントする</button></div>
            </form>
            <div><h3>みんなのコメント</h3></div>
            {% for comment in comments %}
                <div class="comment_info" style="max-width: 620px;">{{ comment.comment }}</div>
            {% endfor %}
        </div>
        <!-- その他のフィールドを表示 -->
    </div>    
</main>
{% endblock %}

