{% extends "base.html" %}
{% block content %}
<main>
<section>
    <h1>投稿をしよう！</h1>
    <form class="create_post" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>ジャンル</th><td>{{form.genre_id}}</td>
            </tr>
            <tr>
                <th>タイトル</th><td>{{form.post_title}}</td>
            </tr>
            <tr>
                <th>テキスト</th><td>{{form.post_content}}</td>
            </tr>
        </table>
    <div class="center">
        <button class="submitbtn sans-serif" style="margin-top: 20px; font-size: 16px; height: 44px; font-weight: bold;" type="submit">投稿</button>
    </div>
    </form>
</section>

</main>
{% endblock %}
