{% extends "base.html" %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ memo.title }}</title>
</head>
<body>
    <h1 class="bottom_0">{{ memo.title }}</h1>
    <div class="create_time">
        <p>作成日時: {{ memo.create_at }}</p>
    </div>
    <div class="center">
        <div class="content_item">{{ memo.content }}</div>
    </div>
    <!-- <a href="{% url 'memo_edit' memo.id %}">編集</a> -->
    <div class="center">
        <a href="{% url 'memo_delete' memo.id %}" class="submitbtn" id="memo_del">削除</a>
    </div>
    <div class="center">
        <a href="{% url 'memo_list' %}" class="submitbtn" id="memo_del">戻る</a>
    </div>
</body>
</html>
{% endblock %}