{% extends "base.html" %}
{% block content %}



<main class="center">
    <section>
        <h1>投稿編集</h1>
        <form class="create_post" method="post">
            {% csrf_token %}
            {% if error_message %}
                <p class="red">{{ error_message }}</p>
            {% endif %}
            <table>
                <tr>
                    <th>タイトル</th><td>{{ form.title }}</td>
                </tr>
                <tr>
                    <th>テキスト</th><td>{{ form.content }}</td>
                </tr>
            </table>
            <div class="center">
                <button class="submitbtn" style="margin-top: 20px; font-size: 16px; height: 44px; font-weight: bold;" type="submit">作成</button>
            </div>
        </form>
        
        <div class="center">
            <a href="{% url 'memo_list' %}">
                <button class="submitbtn" style="margin-top: 20px; font-size: 16px; height: 44px; font-weight: bold;" type="submit">戻る</button>
            </a>
            </div>
    </section>
</main>
{% endblock %}