{% extends "base.html" %}
{% block content %}



<main class="center">
    <div>
    <h1>新規メモ作成</h1>
        <form method="post">
            {% csrf_token %}
            <label for="id_title">タイトル:</label><br>
            <input type="text" id="id_title" name="title"><br>
            <div class="memo_content">
                <label for="id_content">内容:</label><br>
                <textarea id="id_content" name="content"></textarea><br>
            </div>
            <button class="submitbtn" type="submit">作成</button>
        </form>
        <div class="center_2">
            <a href="{% url 'memo_list' %}" class="submitbtn" id="memo_del" style="text-align: center;">戻る</a>
        </div>
    </div>
</main>
{% endblock %}