<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<html lang="en">
<!--<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Post List</title>
</head>
-->

<body>
    <h1>自分の投稿一覧</h1>
    <div>
        {% for post in posts %}
        <div class="post_list">
            <a href="{% url 'posts_edit' post.id %}">
                <div class="post_list_title center">
                    <div>{{ post.post_title }}</div>
                </div>
                <p>{{ post.post_content }}</p>
            </a>
        </div>
        {% empty %}
            <div class="center"><p>まだ投稿をしていません！</p></div>
        {% endfor %}
    </div>
</body>
</html>

{% endblock %}