{% extends "base.html" %}
{% block content %}
<h1>登録画面</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="red" style="font-family: sans-serif; font-size: 14px;" class="center">{{error_message}}</div>
    <table class="form_table">
        <tr class="form_table">
            <th>名前</th><td>{{ user_form.username }}</td>
        </tr>
        <tr class="form_table">
            <th>メールアドレス</th><td>{{ user_form.email }}</td>
        </tr>
        <tr class="form_table">
            <th>パスワード</th><td>{{ user_form.password}}</td>
        </tr>
    </table>
    <div class="btn_center"><input class="submitbtn" type="submit" style="font-size: 16px; height: 44px; font-weight: bold;" value="登録"></div>
</form>
{% endblock %}
